/**
 * Base
 */
 body {
  margin: 0;
  background-color: #FFFFFF;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

a {
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 50em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
}

/**
* Header
*/
.header {
  background-color: #FCFCFE;
  border-bottom: 0.1em solid #DFE5ED;
}

/**
* Skip link
*/
.skip-link {
  margin: 0;
  padding: 1em 0;
  border-bottom: 0.05em solid #DFE5ED;
  font-size: 0.85em;
}

/**
* Header main row (logo + nav)
*/
.header-main-row {
  display: flex;
  justify-content: space-between;
}

/**
* Navigation menu
*/
.nav {
  margin-top: 1.5em;
  text-align: right;
}

.nav-btn-toggle {
  padding: 0.5em 2em;
  background-color: #FFFFFF;
  border: 0.1em solid #D90B0B;
  border-radius: 2em;
  color: #D90B0B;
  font-weight: bold;
}

.nav-btn-toggle:hover,
.nav-btn-toggle:focus,
.nav-btn-toggle[aria-expanded="true"] {
  background-color: #D90B0B;
  color: #FFFFFF;
}

.nav-list:not(.opened) {
  display: none;
}

.nav-list {
  list-style-type: none;
}

.nav-item {
  margin-bottom: 0.5em;
}

/**
* Footer
*/
.footer {
  background-color: #FCFCFE;
  border-top: 0.1em solid #DFE5ED;
  text-align: center;
}
